body {
    background-color: whitesmoke !important;
    color: black !important;
    transition: background-color 0.3s, color 0.3s !important;
}

.dark-mode {
    background-color: #222 !important;
    color: #fff !important;
}


.dark-mode .navbar {
    background-color: #333 !important;
    color: #fff !important;
}


.dark-mode .footer {
    background-color: #333 !important;
    color: #fff !important;
}


.dark-mode .card,
.dark-mode .flower-card {
    background-color: #444 !important;
    color: #fff !important;
    border: 1px solid #555 !important;
}


.dark-mode input[type="text"],
.dark-mode input[type="password"],
.dark-mode input[type="email"],
.dark-mode input[type="file"],
.dark-mode input[type="number"],
.dark-mode textarea {
    background-color: #333 !important;
    color: whitesmoke !important;
    border: 1px solid #666 !important;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
textarea {
    background-color: whitesmoke !important;
    color: black !important;
    border: 1px solid whitesmoke !important;
}

.toggle-container {
    display: inline-block;
    position: relative;
    top: 10px;
    right: 10px;
}


.dark-mode .file-upload-label {
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #666 !important;
}

.file-upload-label {
    background-color: whitesmoke !important;
    color: black !important;
    border: 1px solid whitesmoke !important;
}

.dark-mode .modal-content {
    background-color: #333 !important;
    color: whitesmoke !important;
    border: 1px solid #666 !important;
}

.dark-mode .modal-header {
    background-color: #333 !important;
    color: #fff !important;
    border-bottom: 1px solid #666 !important;
}

.dark-mode .modal-footer {
    background-color: #333 !important;
    color: #fff !important;
    border-top: 1px solid #666 !important;
}

.dark-mode .modal-header .close {
    color: #fff !important;
}

.dark-mode .modal-footer .btn {
    background-color: #555 !important;
    color: #fff !important;
    border: 1px solid #666 !important;
}

.dark-mode .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.7) !important;
}