nav {
  box-shadow: 4px 4px 8px rgb(128, 128, 128, 0.3);
}

.nav_border:hover {
  background-color: gray;
  padding: 5px 10px;
  border-radius: 20px;
}

body {
  background-color: whitesmoke !important;
}

#fixed_top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.index_flower_card {
  box-shadow: 4px 4px 8px rgb(128, 128, 128, 0.3);
}

.gradient-btn {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(120deg, #1de9b6 20%, #1dc4e9 60%);
  box-shadow: -25px 0px 20px -10px #1dc4e9 inset;
  border-style: solid;
  border-width: 0px;
  border-color: #1de9b6;
  border-radius: 30px;
  padding: 10px 20px;
}

.gradient-btn-1 {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(120deg, #ff7e5f 20%, #feb47b 60%);
  box-shadow: -25px 0px 20px -10px #feb47b inset;
  border-style: solid;
  border-width: 0px;
  border-color: #ff7e5f;
  border-radius: 30px;
  padding: 10px 20px;
}

.gradient-btn-2 {
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(120deg, #1f85f1 20%, #edba86 60%);
  box-shadow: -25px 0px 20px -10px rgba(72, 71, 71, 0.2) inset;
  border-style: solid;
  border-width: 0px;
  border-color: #90a4ae;
  border-radius: 30px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.gradient-btn:hover {
  box-shadow: 0 8px 20px rgba(128, 128, 128, 0.7);
}

.gradient-btn-1:hover {
  box-shadow: 0 8px 20px rgba(128, 128, 128, 0.7);
}

.gradient-btn-2:hover {
  box-shadow: 0 8px 20px rgba(128, 128, 128, 0.7);
}

@media (min-width: 1012px) {
  .btn-close {
    margin-left: auto;
    display: block;
  }
}

@media (max-width: 576px) {
  .btn-close {
    margin-left: auto;
    display: block;
  }
}

.logo-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.calimg {
  height: 500px;
}

@media (max-width: 576px) {
  .calimg {
    height: 200px;
  }
}

/* Seasonal Flowers Section */
.flowers-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flower-card {
  flex: 1 1 100%;
  margin: 10px;
  max-width: 300px;
}

@media (min-width: 576px) {
  .flower-card {
    flex: 1 1 45%;
  }
}

@media (min-width: 768px) {
  .flower-card {
    flex: 1 1 22%;
  }
}


.flower-card:hover {
  transform: scale(1.05);
}

.seasonal-flowers-section {
  text-align: center;
}

.seasonal-flowers-section img {
  margin-bottom: 20px;
}

.flowers-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flower-card {
  width: 22%;
  height: 400px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.flower-card img {
  width: 100%;
  height: 50%;
}

.flower-card h3 {
  font-size: 1.5rem;
  margin: 15px 0;
}

.flower-card p {
  padding: 0 15px 15px;
}

/* Floral Arrangement Ideas Section */
@media (max-width: 768px) {
  .arrangement-card {
    flex: 1 1 100%;
  }
}

.arrangement-card:hover {
  transform: scale(1.05);
}

.arrangement-ideas-section {
  text-align: center;
}

.arrangement-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.arrangement-card {
  width: 30%;
  height: 450px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.arrangement-card img {
  width: 100%;
  height: 65%;
}

.arrangement-card h3 {
  font-size: 1.5rem;
  margin: 15px 0;
}

.arrangement-card p {
  padding: 0 15px 15px;
}


/* Behind the Scenes Section*/
.behind-scenes-section {
  padding: 50px;
  background-color: #dbf7f9;
  margin: auto;
  width: 79%;
  text-align: center;
  border-radius: 10px;
}

.all_container {
  margin: auto;
  width: 82%;
  /* height: 200px; */
}

.all_container1 {
  margin: auto;
  width: 79%;
}

.behind-scenes-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #05b5a0;
}

.behind-scenes-content {
  display: flex;
  align-items: center;
}

.behind-image {
  width: 30%;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.behind-scenes-content p {
  width: 70%;
  color: #555;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .behind-scenes-section {
    padding: 10px;
  }

  .behind-scenes-section img {
    width: 100%;
  }

  .behind-scenes-content {
    flex-direction: column;
    align-items: center;
  }
}

/* flower tips */
.care-tips-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.care-tip-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.care-tip-card:hover {
  transform: translateY(-5px);
}

.care-tip-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #34495e;
}

.care-tip-card p {
  margin-bottom: 10px;
}

.special-notes {
  font-style: italic;
  color: #e74c3c;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  .care-tip-card h2 {
    font-size: 1.2em;
  }

  .care-tip-card {
    padding: 15px;
  }
}

#order-history {
  margin-bottom: 20px;
}

.table thead th {
  background-color: #f8f9fa;
}

.table td {
  vertical-align: middle;
}


/* flower animation */
:root {
  --color-bg: linear-gradient(to top, #010329, #000005);
  --color-glass: linear-gradient(to left, #142544, #1a9092);
  --color-water: linear-gradient(to left, #142544, #1b6d6e);
}


.flower {
  position: relative;
}

/* Desktop view */
@media (min-width: 1096px) {
  .flower_left {
    padding-left: 240px;
    padding-top: 560px;
  }
}

/* Mobile small (extra small devices) */
@media (max-width: 576px) {
  .flower_left {
    padding-left: 40px;
    padding-top: 280px;
  }
}

.f-wrapper {
  position: absolute;
  left: 45%;
  bottom: 2vmin;
}

.f-wrapper--2 {
  left: 50%;
  bottom: 5%;
  transform-origin: 10% left;
  transform: rotate(20deg);
}

.f-wrapper--3 {
  left: 30%;
  bottom: 5%;
  transform-origin: 10% left;
  transform: rotate(-10deg);
}

.f-wrapper--3 .flower__line {
  height: 45vmin;
  position: relative;
}

.f-wrapper--3 .flower__line::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 6vmin;
  height: 6vmin;
  transform: translate(-69%, -30%) rotate(-5deg);
  border-radius: 10vmin 10vmin 0 0;
  border: 2vmin solid #104d4e;
  border-bottom: transparent;
  border-left: transparent;
}

.f-wrapper--3 .flower__line::before {
  content: '';
  position: absolute;
  left: -40%;
  top: -1%;
  width: 6vmin;
  height: 2vmin;
  transform-origin: right;
  transform: translate(-100%, -80%) rotate(-20deg);
  background-color: #104d4e;
  border-radius: 2vmin;
}

.f-wrapper--3 .flower__line {
  background-image: linear-gradient(to top, #142544, #104d4e);
}


.f-wrapper--2 .flower__line {
  height: 45vmin;
}

.f-wrapper--2 .f {
  transform: translateX(-50%) rotate(20deg);
}

.f-wrapper--3 .f {
  transform: translate(-350%, -50%) rotate(-120deg);
}

.f-wrapper--2 .flower__leaf:not(:first-child) {
  width: 3.8vmin;
  height: 10vmin;
  background-image: linear-gradient(to bottom, #ff43b6, #c22887, #1a233a 99%);
}

.f-wrapper--3 .flower__leaf:not(:first-child) {
  width: 3.8vmin;
  height: 10vmin;
  background-image: linear-gradient(to bottom, #ad2be0, #712291, #1a233a 99%);
}

.f-wrapper--3 .flower__leaf--1 {
  width: 8vmin;
  height: 10vmin;
  bottom: 2vmin;
  background-color: #ad2be0;
}

.f-wrapper--2 .flower__leaf--1 {
  width: 8vmin;
  height: 10vmin;
  bottom: 2vmin;
  background-color: #de118b;
}

.f-wrapper--2 .f .flower__leaf--8 {
  width: 10vmin;
  height: 9vmin;
  bottom: 3vmin;
  left: -30%;
  transform: rotate(-50deg);
  background-image: linear-gradient(to left bottom, #ff43b6, #4d1337);
  ;
}

.f-wrapper--3 .f .flower__leaf--8 {
  width: 10vmin;
  height: 9vmin;
  left: -10% !important;
  background-image: linear-gradient(to left bottom, #ad2be0, #712291);
  ;
}

.flower__line {
  width: 2vmin;
  height: 56vmin;
  background-image: linear-gradient(to left top, #82fdff 20%, #142544, #104d4e);
  border-radius: 4vmin;
}

.f {
  position: absolute;
  top: 1vmin;
  left: 50%;
  transform: translateX(-50%) rotate(-10deg);
  width: 2vmin;
  height: 2vmin;
}


.flower__leaf {
  position: absolute;
  left: 50%;
  bottom: 2vmin;
  transform: translateX(-50%);
  width: 5vmin;
  height: 14vmin;
  background-image: linear-gradient(to bottom, #ffa085, #fa7373, #1a233a 99%);

  clip-path: ellipse(50% 50% at 50% 50%);
  transform-origin: center bottom;
  animation: open-flower 2s 1s backwards;
}

.flower__leaf--1 {
  width: 10vmin;
  height: 12vmin;
  bottom: 3vmin;
  border-radius: 50% 50% 50% 50% / 80% 80% 20% 20%;
  background-color: #e24f5f;
  background-image: none;
  animation: open-flowe--middle 1.4s 1s backwards;
}

.flower__leaf--2 {
  transform: translateX(-50%) rotate(-30deg);
}

.flower__leaf--3 {
  transform: translateX(-50%) rotate(-50deg);
}

.flower__leaf--4 {
  transform: translateX(-50%) rotate(-70deg);
}

.flower__leaf--5 {
  transform: translateX(-50%) rotate(30deg);
}

.flower__leaf--6 {
  transform: translateX(-50%) rotate(50deg);
}

.flower__leaf--7 {
  transform: translateX(-50%) rotate(70deg);
}

.flower__leaf--8 {
  width: 13vmin;
  height: 11vmin;
  bottom: 6vmin;
  left: -30%;
  border-radius: none;
  clip-path: none;
  border-radius: 10vmin 2vmin 10vmin 2vmin;
  transform: rotate(-55deg);
  background-image: linear-gradient(to left bottom, #ffa085, #eb8b8b, #492f2f 98%);
}

.flower__fall-down--yellow {
  animation: flower-fall-down-yellow 8s 1.2s linear forwards;
}

.flower__fall-down--pink {
  animation: flower-fall-down-pink 5s 1.2s linear forwards;
}

.flower__fall-down--purple {
  bottom: 4vmin;
  animation: flower-fall-down-purple 6s 1.2s linear forwards, flower-falling 6s 7.2s linear infinite;
}


@keyframes open-flower {
  0% {
    transform: translateX(-50%) rotate(0);
  }
}

@keyframes open-flowe--middle {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0);
  }
}

@keyframes flower-fall-down-pink {

  0% {
    transform: rotate(-55deg);
  }

  50% {
    transform: rotateX(-100deg);
  }

  100% {
    transform: translate(2vmin, 28vmin);
  }

}

@keyframes flower-fall-down-yellow {

  0% {
    transform: rotate(-55deg);
  }

  50% {
    bottom: 3vmin;
    transform: rotateX(-100deg);
  }

  100% {
    transform: translate(2vmin, 70vmin) rotate(150deg);
  }

}

@keyframes flower-fall-down-purple {

  0% {
    transform: rotate(-50deg);
  }

  25% {
    bottom: 1vmin;
    transform: rotateX(-100deg);
    perspective: 0px;
  }

  50% {
    perspective: 0px;
    transform: translate(-30vmin, 2vmin) rotate(90deg);
  }

  75% {
    perspective: 0px;
    transform: translate(-34vmin, -2vmin);
  }

  100% {
    transform-origin: center;
    transform: translate(-34vmin, -2vmin) rotateY(-80deg) rotateX(35deg);
  }

}

@keyframes flower-falling {

  0%,
  100% {
    transform-origin: center;
    transform: translate(-34vmin, -2vmin) rotateY(-80deg) rotateX(35deg);
  }

  25% {
    transform-origin: center;
    transform: translate(-34.4vmin, -2vmin) rotateY(-84deg) rotateX(35deg);
  }

  50% {
    transform-origin: center;
    transform: translate(-32vmin, -4.2vmin) rotateY(-80deg) rotateX(35deg);
  }

  75% {
    transform-origin: center;
    transform: translate(-36vmin, 1.1vmin) rotateY(-80deg) rotateX(35deg);
  }
}

.green-color {
  color: rgb(5, 191, 5);
}

.red-color {
  color: red;
}

.none {
  color: #ff7fc2;
  text-decoration: none;
}